#achievement {
    background: var(--white-color);
}

.achievement__video {
    position: relative;
}

.achievement__video p {
    font-size: 17px;
    padding-top: 5px;
    color: var(--white-color);
}

.btn__video img {
    border-radius: 10px;
}

.btn__play {
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 1;
    padding: 22px;
    border-radius: 50%;
    background: #fff;
    animation: wave 1s linear infinite;
    pointer-events: none;
    transform: translate(50%, -50%);
}

@keyframes wave {
    0% {
        box-shadow: 0 0 0 0 #e1e1e1;
    }

    100% {
        box-shadow: 0 0 0 15px hsla(0, 0%, 88.2%, 0);
    }
}

.play__icon {
    height: 40px;
    width: 40px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    position: absolute;
}

.achievement__img {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px 40px;
    transition: all .3s;
    border: 2px dashed var(--techmaster-color);
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.1);
}