/* #target {
    background-image: url("/img/bgTarget.jpg");
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: repeat;
    background-attachment: fixed;
} */

#target {
    overflow: hidden;
    position: relative;
    background: transparent;
}

.bg-opacity {
    inset: 0;
    z-index: -1;
}

.wrap__background {
    inset: 0;
}

.background {
    inset: 0;
}

.background img {
    height: 100%;
}

.opa__bg {
    inset: 0;
    opacity: 0.85;
    position: absolute;
    background: #fff;
}

.hexagon-gallery {
    text-align: center;
    padding-inline: 12px;
    filter: drop-shadow(0px 0px 8px #FA6900)
}

.hex {
    position: relative;
    max-width: 580px;
    max-height: 550px;
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: inline-block;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

#target__slide {
    position: absolute;
    inset: 0;
}

.hex #target__slide img {
    min-height: 500px;
}

.target__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 12px;
}

.target__item {
    gap: 10px;
    display: flex;
    padding: 12px;
    max-width: 550px;
    border-radius: 20px;
    border: 2px dashed var(--blue-color);
    color: var(--white-color);
    background: var(--blue-light-color);
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.5);
}

.target__list li:nth-child(2),
.target__list li:nth-child(4) {
    margin-left: 7%;
}

.target__list li:nth-child(3) {
    /* margin-left: auto;
    margin-right: 0; */
    margin-left: 14%;
}

.icon__hand {
    margin-top: 5px;
    color: var(--white-color);
    width: fit-content;
}

.btn__target {
    text-align: center;
    padding-block: 24px;
}

@media screen and (max-width:1200px) {
    .hex {
        min-height: 450px;
    }

    .hex #target__slide img {
        min-height: 450px;
    }

    .target__item {
        max-width: 420px;
    }
}

@media screen and (max-width:992px) {
    .hex {
        min-height: 480px;
    }

    .hex #target__slide img {
        min-height: 480px;
    }

    .target__list {
        gap: 32px;
    }

    .target__list li {
        margin-inline: auto !important;
    }

    .target__item {
        max-width: 550px;
    }

}

@media screen and (max-width:576px) {
    .hex {
        /* align-self: center; */
        min-height: 350px;
        /* max-width: 450px; */
    }

    .hex #target__slide img {
        min-height: 350px;
    }
}