/* Zalo */
.zalo-btn {
    position: fixed;
    bottom: 65px;
    right: 25px;
    z-index: 100;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    border: 0;
    overflow: hidden;
    animation: waveRotate 2s linear infinite;
}

.wrap__zalo-img {
    margin: 0 auto;
    max-width: 300px;
}

#modalZalo a {
    margin: 0 auto;
    min-width: 174px;
}

@keyframes waveRotate {
    0% {
        box-shadow: 0 0 0 0 var(--blue-light-color);
    }

    25% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(15deg);
    }

    100% {
        box-shadow: 0 0 0 15px hsla(0, 0%, 88.2%, 0);
    }
}

/* CALL NOW */
#callNow {
    position: fixed;
    right: 25px;
    bottom: 120px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    animation: waveRotate 1.5s linear infinite;
}

.call__icon {
    width: 24px;
}

/* btn gototop */
.gototop {
    position: fixed;
    top: calc(100% - 55px);
    right: 25px;
    z-index: 50;
    background: #f5f5f5;
    border-radius: 50%;
    opacity: 0.6;
    transform: translateY(75px);
    transition: all 0.5s ease-out;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gototop:hover {
    opacity: 1;
    transform: translateY(-5px) !important;
}

.gototop__icon {
    color: #FFCA25;
    height: 36px;
    width: 36px;
    margin-left: -1px;
}